@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');
a{
    text-decoration: none;
}
.clean {
    clear: both;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
}

a:hover {
    text-decoration: none;
}

header {
    width: 100%;
    height: 660px;
    background: url("../img/BackHeader.png") no-repeat;
    background-size: cover;
}

.HeaderMenu {
    max-height: 70px;
    height: 100%;
    margin-bottom: 270px;
}

.HeaderLogo {
    margin: 15px 35px 0 21px;
    float: left;
}

.TopMenu {
    max-width: 929px;
    width: 70%;
    border-bottom: 1px solid #7d836a;
    float: left;
    height: 100%;
    display: flex;
}

.more,
.more_2,
.more_3 {
    padding-right: 16px;
    position: relative;
    z-index: 0;
}

.more:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 8px;
    height: 7px;
    background: url(../img/smart.png) no-repeat;
}

/*
Header Menu
*/

.TopMenu li {
    float: right;
    margin-top: 29px;
    margin-right: auto;
    display: block;
}

.TopMenu li:nth-child(1) {
    margin-left: 20%;
}

.TopMenu li a {
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}

.top_button {
    max-width: 160px;
    border: 1px solid #9fa191;
    float: left;
    max-height: 39px;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 16px;
    margin-left: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    padding-top: 12px;
    padding-left: 22px;
}

.HeaderInfo {
    max-height: 160px;
    max-width: 450px;
    background: #2aa438;
    width: 100%;
    height: 100%;
}

.HeaderInfo h1 {
    text-transform: uppercase;
    color: #fbb82a;
    font-size: 30px;
    font-weight: 500;
    padding-top: 53px;
    padding-left: 52px;
}

.HeaderInfo p {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 54px;
}

#BionContent {
    width: 100%;
}

/*COUNTERS*/

#BionCounters {
    width: 100%;
    max-height: 475px;
    height: 100%;
    display: block;
}

#BionCounters ul {
    width: 100%;
}

.CountersCOntainer {
    display: flex;

}

.CountersCOntainer p {
    font-size: 12px;
    font-weight: 300;
}

#BionCounters ul li {
    height: 236px;
    width: 33.33%;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    float: left;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#BionCounters ul li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 245px;
    width: 100%;
    display: block;
    max-height: 45px;
    height: 100%;
    text-align: center;
    background-color: #2aa438;
    line-height: 45px;
}

#BionCounters ul li h1 {
    font-weight: 500;
    color: #2aa438;
    font-size: 64px;
    line-height: 28px;
    text-transform: uppercase;
    float: left;
    margin: 0 12px;
}

#BionCounters ul li span {
    color: #222222;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    float: left;
    text-transform: uppercase;
    margin-top: -10px;
}

/*
Advantage
*/

#Advantages {
    width: 100%;
    height: 639px;
    background: url(../img/BackAdvangates.png) no-repeat;
    padding-top: 65px;
    background-size: cover;
}

#Advantages h1 {
    color: #ffffff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    padding-left: 16px;
    margin-bottom: 35px;
}

#Advantages ul {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.AdvantagesContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;

}

.AdvantagesContainer ul:first-child {
    padding-left: 121px;
}

.AdvantagesContainer ul:last-child {
    padding-right: 114px;
}

#Advantages ul li {
    height: 69px;
    width: 490px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    float: left;
    margin-right: 4px;
    margin-left: 19px;
    margin-bottom: 22px;
}

#Advantages ul li:hover {
    background: #fbb82a;;
}

#Advantages ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 7px;
    position: relative;
    font-size: 14px;
    color: #000000;
    padding-top: 27px;
}

#Advantages ul li a:hover {
    text-decoration: none;
    position: relative;
}

#Advantages ul li a:before {
    content: '';
    top: 30px;
    right: 32px;
    width: 17px;
    height: 9px;
    background: url(../img/arrow.png) no-repeat;
    position: absolute;
    z-index: 1;
}

#Advantages ul li a:hover:before {
    content: '';
    width: 36px;
    height: 9px;
    right: 32px;
    background: url(../img/arrowHover.png) no-repeat;
}

#Advantages ul li a span {
    color: #000000;
    font-size: 25px;
    height: 100%;
    display: block;
    float: left;
    padding-left: 13px;
    margin-right: 18px;
    margin-top: -5px;
}

#Advantages > a {
    display: block;
    width: 244px;
    height: 45px;
    background-color: #fbb82a;
    text-align: center;
    color: #111111;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 41%;
    margin-right: auto;
    line-height: 50px;
}

#Advantages > a:hover {
    text-decoration: none;
}

/*
DISCOUNT
*/

#BionDiscounts {
    padding: 63px 0;
    background: url(../img/Discounse.png) no-repeat;
    display: block;
    background-size: cover;
}

#BionDiscounts h1 {
    font-weight: 500;
    color: #222222;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 14px;
    margin-bottom: 13px;
}

#BionDiscounts p {
    color: #222222;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-left: 27px;
    font-weight: 400;
    margin-bottom: 69px;
}

#BionDiscounts ul {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 69px;
}

#BionDiscounts ul li {
    border-left: 1px solid #dddddd;
    width: 241px;
    height: 100%;
    color: #222222;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#BionDiscounts ul li:first-child {
    border: none;
}

#BionDiscounts ul li span {
    color: #2aa438;
    font-weight: 500;
    font-size: 64px;
}

#BionDiscounts > a {
    width: 245px;
    height: 45px;
    background-color: #2aa438;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 45px;
    margin-right: auto;
    margin-left: 42%;
}

/*
NEWS
*/

#News {
    height: 536px;
    display: flex;
    justify-content: center;
    background: url(../img/News.png) no-repeat;
    padding-top: 58px;
    background-size: cover;
}

.NewsContainer {
    max-width: 740px;
    display: block;
    width: 100%;
    margin-left: 12px;
}

.NewsContainer > ul:first-child {
    height: 70px;
    background-color: #fbb82a;
}

.NewsContainer h1 {
    text-transform: uppercase;
    float: left;
    padding-left: 33px;
    font-weight: 500;
    color: #111111;
    font-size: 26px;
    line-height: 72px;
}

.NewsContainer > ul:first-child a {
    float: right;
    margin-right: 28px;
    text-decoration: none;
    border-bottom: 1px solid #c08e24;
    color: #111111;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 31px;
}

.NewsContainer ul:nth-child(2) {
    width: 100%;
}

.ContainerNews {
    width: 100%;
    background: #ffffff;
}

.NewsRow {
    width: 666px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 83px;
    border-bottom: 1px solid #dddddd;
}

.NewsRowLeft {
    height: 54px;
}

.NewsRowLeft {
    float: left;
    display: flex;
    align-items: center;
    width: 90px;
    border-right: 1px solid #dddddd;
    margin-right: 24px;
}

.NewsRowRight {
    width: 576px;
    display: flex;
    align-items: center;
    position: relative;
}

.NewsRowLeft p {
    color: #fbb82a;
    font-size: 30px;
    font-weight: 500;
    margin-right: 9px;
}

.NewsRowLeft span {
    font-size: 14px;
    color: #fbb82a;
    font-weight: 500;
}

.NewsRowRight a {
    color: #222222;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 54px;
}

.NewsRowRight a:before {
    content: '';
    position: absolute;
    background: url(../img/arrow.png) no-repeat;
    top: 41%;
    right: 0;
    width: 17px;
    height: 9px;
}

.NewsRowRight a:hover:before {
    background: url(../img/arrowHover.png) no-repeat;
    width: 36px;
}

/*FORM
Paste background pictures */

#BIONform {
    height: 475px;
    width: 100%;
    background: url(../img/back.png) no-repeat 50% 50%;
    /*background-position: center;*/
}

#BIONform .FormContainer {
    float: left;
    margin-left: 200px;
    padding-top: 55px;
}

.FormContainer h1 {
    color: black;
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;

}

input[name='Name / Company name'] {
    background: url(../img/icon_name.png) no-repeat;
}

input[name='Select your country'] {
    background: url(../img/icon_country.png) no-repeat;
}

input[name='Select status'] {
    background: url(../img/icon_status.png) no-repeat;
}

input[name='Email'] {
    background: url(../img/icon_mail.png) no-repeat;
}

input[type='text'] {
    width: 250px;
    height: 40px;
    margin-right: 16px;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
    background-position-x: 4%;
    background-position-y: 49%;
}

textarea {
    height: 80px;
    width: 520px;
    margin-bottom: 40px;
    padding: 10px;
}

input[type="button"] {
    background: #2aa438;
    width: 163px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    outline: none;
}

/*
FOOTER
*/

footer {
    min-height: 205px;
    background: #15521c;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 60px;
}

footer h1 {
    color: #8aa98e;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

footer h2 {
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.footerContainer div {
    float: left;
    height: 100%;
}

footer p,
footer li {
    color: #ffffff;
    font-size: 14px;
}

footer a {
    color: #82a386;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.footerContainer ul {
    height: 100%;
}

.right_menu_mobile {
    display: none;
}

.header_menu_mobile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red;
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: none;
}

.header_menu_mobile span, .header_menu_mobile span:before, .header_menu_mobile span:after {
    width: 10px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: -1px;
    content: '';
}

.header_menu_mobile span:before {
    margin-top: -4px;
    transition: all 0.5s;
}

.header_menu_mobile span:after {
    margin-top: 2px;
    transition: all 0.5s;
}

.header_menu_mobile_active span {
    background-color: transparent;
}

.header_menu_mobile_active span:before {
    transform: rotate(45deg);
    margin-top: 0;
    z-index: 9;
    margin-left: -5px;
}

.header_menu_mobile_active span:after {
    transform: rotate(-45deg);
    margin-top: 0;
    margin-left: -5px;
}

.right_menu_mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    transition: right 0.5s;
    right: -100vw;
}

.right_menu_mobile_active {
    right: 0;
}

.right_menu_mobile_active ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100vw;
}
.right_menu_mobile_active ul li {
    width: 100%;
    text-transform: uppercase;
}

.right_menu_mobile_active ul li a {
    text-decoration: none;
    line-height: 2;
    color: white;
    width: 100%;
    display: block;
    font-size: 25px;
}
.right_menu_mobile_active ul li a:hover {
    background-color: rebeccapurple;
    opacity: .9;
}

.right_menu_mobile ul {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: .8;
}
